@font-face {
  font-family: 'HurmeGeometricSans3-Bold';
  src: local('HurmeGeometricSans3-Bold'),
    url('../fonts/HurmeGeometricSans3-Bold.woff2') format('truetype');
}

@font-face {
  font-family: 'HurmeGeometricSans3-Regular';
  src: local('HurmeGeometricSans3-Regular'),
    url('../fonts/HurmeGeometricSans3-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'HurmeGeometricSans3-Black';
  src: local('HurmeGeometricSans3-Black'),
    url('../fonts/HurmeGeometricSans3-Black.woff2') format('truetype');
}

@font-face {
  font-family: 'HurmeGeometricSans3-Light';
  src: local('HurmeGeometricSans3-Light'),
    url('../fonts/HurmeGeometricSans3-Light.woff2') format('truetype');
}

@font-face {
  font-family: 'Gazpacho-Bold';
  src: local('Gazpacho-Bold'),
    url('../fonts/Gazpacho-Bold.woff2') format('truetype');
}

@font-face {
  font-family: 'Gazpacho-Regular';
  src: local('Gazpacho-Regular'),
    url('../fonts/Gazpacho-Regular.woff2') format('truetype');
}

$font-hurme-regular: 'HurmeGeometricSans3-Regular';
$font-hurme-bold: 'HurmeGeometricSans3-Bold';
$font-hurme-black: 'HurmeGeometricSans3-Black';
$font-hurme-light: 'HurmeGeometricSans3-Light';
$font-gazpacho-regular: 'Gazpacho-Regular';
$font-gazpacho-bold: 'Gazpacho-Bold';

@mixin text-hurme-regular {
  font-family: $font-hurme-regular;
  font-weight: 400;
}

@mixin text-hurme-bold {
  font-family: $font-hurme-bold;
  font-weight: 700;
}

@mixin text-hurme-black {
  font-family: $font-hurme-black;
  font-weight: 800;
}

@mixin text-hurme-light {
  font-family: $font-hurme-light;
  font-weight: 300;
}

@mixin text-gazpacho-regular {
  font-family: $font-gazpacho-regular;
  font-weight: 400;
}

@mixin text-gazpacho-bold {
  font-family: $font-gazpacho-bold;
  font-weight: 700;
}

@mixin img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

$primary: #000000;
$secondary: #ffffff;
$bg-primary: #e8e2d4;

#es-rc-content.es-rc {
  font-family: $font-hurme-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 920px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $primary;
  background: $bg-primary;

  .es-title {
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
    @include text-gazpacho-bold;
    font-size: 36px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  .es-kv {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;

    &__logo {
      position: relative;
      margin: 0 auto;
      padding: 30px 15px;
      max-width: 90%;
    }

    &__title {
      position: relative;
      margin: 0;
      padding: 0;
      @include text-gazpacho-bold;
      padding-top: 5px;
      padding-bottom: 15px;
      text-align: center;
      font-size: 35px;
      font-weight: 700;
      line-height: 1;

      &--small {
        @include text-gazpacho-bold;
        font-size: 14px;
        text-align: center;
      }
    }

    &__subtitle {
      @include text-gazpacho-bold;
      text-align: center;
      font-size: 18px;
      padding-bottom: 15px;
    }

    &__packshot {
      position: relative;

      &--photo {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        position: relative;
        z-index: 1;
      }
    }

    &__img {
      max-width: 60%;
      display: block;
      margin: 0 auto;
    }

    &__text {
      @include text-hurme-regular;
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
      padding: 0 10px;
      font-size: 16px;
    }
  }

  .es-info {
    margin: 0;
    padding: 0;

    &__title {
      position: relative;
      margin: 0;
      padding: 0;
      margin: 0 auto;
      color: $primary;
      padding: 25px;
      text-align: center;
      font-size: 28px;

      &--large {
        display: block;
        text-align: right;
        font-size: 32px;
      }
    }

    &__text {
      width: 90%;
      margin: 0;
      padding: 0;
      @include text-hurme-regular;
      font-weight: 500;
      color: $primary;
      padding: 0 15px 25px;
      margin: 0 auto;

      & b {
        @include text-hurme-bold;
      }
    }
  }

  .es-possibilities {
    margin: 30px 0 0;
    padding-top: 75px;

    &__title {
      position: relative;
      margin: 0;
      padding: 0;
      @include text-gazpacho-bold;
      padding: 15px 15px 0;
      font-size: 20px;
      font-weight: 700;

      &--first {
        margin-top: -30px;
        text-align: right;
      }

      &--second {
        position: absolute;
        top: 44%;
        left: -10px;
        color: $bg-primary;
      }
    }

    &__title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -60px;
    }

    &__title-group {
      position: relative;
      max-width: 50%;
      min-width: 50%;
    }

    &__subtitle {
      margin: 0;
      padding: 0;
      padding-top: 20px;
      padding-right: 10px;
      font-size: 20px;
      @include text-gazpacho-bold;
      text-align: right;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      margin-top: -103px;
    }

    &__text {
      padding: 15px;
      @include text-hurme-regular;
    }

    &__packshot {
      @include img;
      max-width: 50%;
    }
  }

  .es-photo {
    &__img {
      max-width: 90%;
      display: block;
      margin: 0 auto;
      padding: 5px 5px;
    }

    &__img {
      margin-left: -1%;

      &--syrups {
        margin: 0 auto;
      }
    }
  }

  .es-triple {
    &__title {
      position: relative;
      margin: 0;
      padding: 0;
      @include text-hurme-bold;
      padding: 15px 15px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 700;
    }

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      margin: 0 auto;
      width: 80%;
      font-size: 20px;
      font-family: 'HurmeGeometricSans3-Light', sans-serif;
      text-align: center;
      padding: 0 15px 30px;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }

    &__mobile-container {
      position: relative;
    }

    &__single {
      height: 100%;
      position: relative;
    }

    &__desc {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 25px;
      left: 0;
      @include text-hurme-bold;
      color: $secondary;
      font-size: 35px;
      text-align: center;
      padding-top: 20px;

      &--first {
        top: 20%;
        left: 24%;
      }

      &--second {
        top: 32%;
        left: 41%;
      }

      &--third {
        top: 21%;
        left: 16%;
      }
    }

    &__desc-mobile {

      &--first,
      &--second,
      &--third {
        position: absolute;
        top: 25px;
        left: 0;
        @include text-hurme-black;
        color: $secondary;
        font-size: 45px;
        text-align: center;
      }

      &--first {
        top: 12%;
        left: 23%;
      }

      &--second {
        top: 41%;
        left: 37%;
      }

      &--third {
        top: 61%;
        left: 16%;
      }
    }

    &__desktop-container {
      display: none;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      min-width: 250px;
    }
  }

  .es-recipes {
    &__day-night-title {
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      @include text-hurme-bold;
      font-size: 18px;
    }

    &__day-night-description {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;
      @include text-hurme-regular;
      font-size: 16px;
    }

    &__day-night {
      position: relative;
      margin-bottom: 50px;

      &--second {
        margin-bottom: 100px;
      }
    }

    &__day-night-label {
      position: absolute;
      margin-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
      @include text-gazpacho-bold;
      font-size: 60px;

      &--first {
        color: $secondary;
        top: 16%;
        left: 40%;
      }

      &--second {
        color: $primary;
        top: -6%;
        left: 0%;
      }
    }

    &__img {
      @include img;

      &--night-desktop {
        display: none;
      }
    }

    &__day-night-recipe-content-title {
      margin-bottom: 20px;
      @include text-gazpacho-bold;
      font-size: 30px;

      &--small {
        margin-bottom: 20px;
        @include text-hurme-regular;
        font-size: 16px;
      }
    }

    &__day-night-recipe-content--dark {
      background-color: #000;
      color: #fff;
      clip-path: polygon(0 0%, 100% 14%, 100% 100%, 0 89%);
      padding-top: 30%;
      padding-bottom: 90px;
      margin-top: -38%;
    }

    &__day-night-recipe-content {
      padding-left: 10px;
      padding-right: 10px;
      z-index: 1;
      font-size: 13px;

      & p>b {
        font-family: $font-hurme-bold;
      }
    }

    &__day-night-recipe-content-ingredients-list {
      padding-left: 20px;

      & li {
        margin-bottom: 10px;
      }
    }
  }

  .es-lemonade {
    margin-top: -100px;

    &__title {
      margin-bottom: 10px;
      margin-left: 10px;
      text-align: left;
      font-size: 20px;

      &--second {
        font-size: 30px;
      }
    }

    &__subtitle {
      margin-bottom: 10px;
      @include text-gazpacho-regular;
      text-align: center;
      font-size: 18px;
    }

    &__image {
      @include img;

      &--bottle {
        max-width: 50%;
        margin-bottom: 30px;
      }
    }

    &__content {
      padding-top: 30px;
      margin-bottom: 50px;
    }

    &__text {
      @include text-hurme-regular;
      margin-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__group {
      max-width: 400px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__group-list {
      max-width: 400px;
    }

    &__group-title {
      max-width: 400px;
      margin-bottom: 10px;
    }

    &__group-list-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
      margin-bottom: 30px;
    }

    &__group-list-item-description {
      max-width: 70%;
    }

    &__group-list-item-image {
      @include img;
      margin-left: 0;
      margin-right: 0;
      max-width: 70px;
    }

    &__bold {
      @include text-hurme-bold;
    }

    &__image-group {
      position: relative;
    }

    &__image-group-text {
      position: absolute;
      top: 43%;
      left: 16%;
      @include text-gazpacho-bold;
      font-size: 25px;
    }
  }

  .es-video {
    margin: 0 auto 34px;
    width: 95%;
    position: relative;

    &__title {
      margin: 0;
      padding: 0;
      font-size: 30px;
      text-align: center;
      margin-bottom: 10px;
    }

    &__subtitle {
      margin: 0;
      padding: 0;
      @include text-gazpacho-regular;
      text-align: center;
      margin-bottom: 20px;
      font-size: 18px;
    }

    &__subtitle-second {
      @include text-gazpacho-bold;
      font-size: 23px;
    }

    &__text {
      @include text-hurme-regular;
      text-align: center;
      max-width: 100%;
      margin-bottom: 20px;
    }

    &__container {
      margin: 0 auto;
      width: 100%;
      position: relative;
      padding-bottom: 46.25%;
      height: 0;
    }

    &__iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      max-height: 540px;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      max-width: 200px;
    }
  }

  .es-photo {
    &__text {
      font-size: 23px;
    }
  }

  @media screen and (min-width: 400px) {
    .es-possibilities {
      &__title-container {
        top: -45px;
      }

      &__title {
        font-size: 22px;
      }
    }

    .es-recipes {
      &__day-night-label {

        &--first {
          top: 12%;
        }
      }
    }
  }

  @media screen and (min-width: 500px) {
    .es-recipes {
      &__day-night-recipe-content {
        font-size: 16px;
      }

      &__day-night {
        margin-bottom: 100px;
      }

      &__day-night-group {
        max-width: 395px;
        margin: 0 auto;
        margin-left: 10%;
      }

      &__day-night-label {
        &--first {
          top: 10%;
          left: 44%;
        }

        &--second {
          top: 3%;
          left: 0%;
        }
      }
    }

    .es-possibilities {
      &__title-container {
        top: -25px;
      }

      &__title {
        font-size: 30px;
      }
    }

    .es-triple {
      &__wrapper {
        flex-wrap: nowrap;
      }

      &__desc-mobile {

        &--first,
        &--second,
        &--third {
          font-size: 70px;
        }

        &--first {
          top: 12%;
          left: 23%;
        }

        &--second {
          top: 41%;
          left: 37%;
        }

        &--third {
          top: 61%;
          left: 16%;
        }
      }
    }

    .es-video {
      margin-top: -50px;

      &__img {
        max-width: 300px;
      }

      &__text {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }

    .es-lemonade {


      &__image-group-text {
        top: 45%;
        left: 20%;
        font-size: 35px;
      }
    }

    .es-photo {
      &__img {
        margin-left: -1%;

        &--syrups {
          margin: 0 auto;
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    .es-title {
      font-size: 46px;
    }

    .es-lemonade {
      &__title {
        font-size: 25px;
      }
    }

    .es-video__subtitle-second {
      font-size: 36px;
    }

    .es-photo {
      &__text {
        font-size: 36px;
      }
    }

    .es-recipes {
      display: flex;

      &__day-night {
        max-width: 50%;

        &--second {
          padding-top: 190px;
        }
      }

      &__day-night-label {
        &--second {
          top: 10%;
          left: 0%;
        }
      }

      &__day-night-recipe-content {
        padding-left: 10px;
        padding-right: 10px;
        z-index: 1;
        font-size: 13px;
      }

      &__day-night-label {
        &--first {
          top: 16%;
        }
      }
    }

    .es-possibilities {
      margin: 30px 0 0;
      padding-top: 75px;

      &__title-container {
        top: 10px;
      }

      &__title {
        font-size: 25px;
      }

      &__left,
      &__right {
        min-width: 50%;
      }

      &__right {
        min-width: 60%;
        margin-left: -50px;
      }

      &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
      }

      &__title {
        font-size: 25px;

        &--first,
        &--second {
          font-size: 35px;
        }

        &--second {
          left: 0;
        }
      }
    }

    .es-info {
      &__container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__title {
        font-size: 35px;
      }

      &__left,
      &__right {
        max-width: 50%;
      }
    }

    .es-lemonade {
      margin-top: -100px;

      &__subtitle {
        font-size: 26px;
      }

      &__image {
        max-width: 50%;

        &--bottle {
          max-width: 25%;
        }

        &--coctail {
          max-width: 100%;
        }
      }
    }
  }

  @media screen and (min-width: 700px) {
    .es-triple {
      &__desc-mobile {

        &--first,
        &--second,
        &--third {
          font-size: 90px;
        }

        &--first {
          top: 12%;
          left: 26%;
        }

        &--second {
          top: 43%;
          left: 40%;
        }

        &--third {
          top: 63%;
          left: 18%;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      background: url('../img/kv-bg.png') no-repeat center center;
      background-size: cover;
      min-height: 800px;
      padding-bottom: 300px;

      &__packshot {
        display: none;
      }

      &__title {
        font-size: 35px;
      }

      &__packshot {
        position: absolute;
        right: 0;
        top: 30px;
        width: 350px;
      }

      &__packshot--photo {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0;
        position: relative;
        z-index: 1;
      }

      &__title-group {
        position: absolute;
        max-width: 455px;
        left: 25px;
        top: -3%;
        margin: 0 auto;
        text-align: center;
      }

      &__text {
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: center;
        font-size: 17px;
      }
    }

    .es-triple {
      &__title {
        font-size: 50px;
      }
    }

    .es-info {
      &__titleBig {
        font-size: 50px;
      }

      &__title--large {
        font-size: 42px;
        margin-right: 50px;
      }
    }

    .es-recipes {
      &__day-night {
        &--first {
          margin-top: -100px;
        }

        &--second {
          padding-top: 66px;
        }
      }

      &__day-night-recipe-content-title {
        margin-bottom: 20px;
        @include text-gazpacho-bold;
        font-size: 35px;

        &--small {
          margin-bottom: 10px;
          @include text-hurme-regular;
          font-size: 16px;
          font-weight: 500;
        }
      }

      &__day-night-label {
        font-size: 80px;

        &--first {
          top: 10%;
        }

        &--second {
          top: 2%;
          left: 0%;
        }
      }

      &__day-night-recipe-content {
        font-size: 18px;
      }
    }

    .es-lemonade {
      margin-top: -100px;

      &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;

        &--1 {
          align-items: flex-start;
        }

        &--2 {
          margin-top: -150px;
        }

        &--3 {
          margin-top: -150px;
        }
      }

      &__image {
        &--grapefruit {
          margin-top: 50px;
        }

        &--coctail {
          max-width: 100%;
        }
      }

      &__texts {
        max-width: 50%;
        padding-left: 2%;
      }

      &__text {
        max-width: 46%;

        &--first {}

        &--second {
          max-width: 63%;
        }

        &--third {
          max-width: 76%;
        }
      }

      &__title {
        font-size: 40px;

        &--second {
          font-size: 50px;
        }
      }

      &__subtitle {
        font-size: 40px;
      }
    }
  }

  @media screen and (min-width: 825px) {
    .es-recipes {
      &__img {
        &--night {
          &-desktop {
            display: block;
          }

          &-mobile {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (min-width: 998px) {
    .es-kv {
      &__title {
        padding: 15px;
        padding-top: 0;
        font-size: 40px;

        &--small {
          font-size: 18px;
        }
      }

      &__img {
        max-width: 46%;
      }

      &__title-group {
        max-width: 455px;
        left: 10%;
        top: -1%;
      }

      &__packshot {
        position: absolute;
        right: 0;
        top: 30px;
        width: 450px;
      }

      &__packshot--photo {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0;
        position: relative;
        z-index: 1;
      }
    }

    .es-possibilities {
      margin-top: -100px;

      &__title-container {
        top: 43px;
      }

      &__right {
        margin-left: -180px;
        margin-top: 100px;
      }

      &__title {
        font-size: 36px;

        &--first,
        &--second {
          font-size: 45px;
        }

        &--second {
          top: 44%;
        }
      }

      &__content {
        margin-top: -150px;
      }

      &__packshot {
        width: 250px;
        margin-top: -185px;
      }

      &__text {
        font-size: 20px;
        width: 85%;
        line-height: 1.25;
      }

      &__img {
        margin-top: -125px;
      }
    }

    .es-info {
      &__title {
        line-height: 1;
      }

      &__text {
        width: 500px;
        font-size: 20px;
      }
    }

    .es-video {
      &__text {
        font-size: 19px;
        max-width: 83%;

        &--second {
          max-width: 85%;
        }
      }
    }

    .es-recipes {
      &__day-night-title {
        font-size: 19px;
        margin-bottom: 0px;
      }

      &__day-night-description {
        font-size: 19px;
      }

      &__day-night-group {
        max-width: 503px;
        margin-left: 5%;
      }

      &__day-night-recipe-content {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
      }

      &__day-night-label {
        &--first {
          top: 9.4%;
          left: 41%;
        }

        &--second {
          top: -0.7%;
          left: 9.4%;
        }
      }
    }

    .es-lemonade {
      &__image {
        max-width: 50%;

        &--bottle {
          max-width: 23%;
        }

        &--coctail {
          max-width: 100%;
        }
      }

      &__texts {
        max-width: 50%;
        padding-left: 2%;
      }

      &__image-group-text {
        left: 23%;
      }

      &__text {
        font-size: 18px;

        &--first {
          max-width: 44%;
        }

        &--third {
          max-width: 75%;
          margin-bottom: 70px;
        }
      }

      &__group-title {
        margin-bottom: 20px;
        font-size: 20px;
      }

      &__group-list-item-description {
        font-size: 18px;
      }

      &__group {
        max-width: 500px;
      }

      &__group-title {
        max-width: 500px;
      }

      &__group-list {
        max-width: 500px;
      }

      &__texts {
        padding-left: 0;
      }
    }

    .es-video__subtitle-second {
      font-size: 36px;
    }

    .es-photo {
      &__text {
        font-size: 36px;
      }

      &__img {
        max-width: 100%;
        margin-left: -11%;

        &--syrups {
          margin: 0 auto;
        }
      }
    }

    .es-triple {
      margin-top: -160px;

      &__desc-mobile {

        &--first,
        &--second,
        &--third {
          font-size: 160px;
        }

        &--first {
          top: 11%;
          left: 16%;
        }

        &--second {
          top: 41%;
          left: 40%;
        }

        &--third {
          top: 61%;
          left: 7%;
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .es-kv {
      height: 100%;
      min-height: 800px;

      &__logo {
        padding: 25px 15px;
      }

      &__img {
        max-width: 53%;
      }

      &__title-group {
        left: 3%;
        top: -1%;
        max-width: 500px;
      }

      &__title {
        font-size: 45px;
      }

      &__subtitle {
        font-size: 19px;
      }

      &__text {
        font-size: 20px;
        width: 94%;
        font-size: 19px;
        line-height: 1.35;
        padding-top: 0;
      }
    }

    .es-title {
      font-size: 47px;
    }

    .es-video__subtitle-second {
      font-size: 28px;
    }

    .es-photo {
      &__text {
        font-size: 28px;
      }

      &__img {
        max-width: 90%;
        margin-left: -2%;

        &--syrups {
          margin: 0 auto;
        }
      }
    }

    .es-video {
      &__subtitle {
        font-size: 30px;
      }
    }

    .es-lemonade {
      &__title {
        font-size: 43px;
        margin-left: 40px;

        &--second {
          font-size: 53px;
        }
      }
    }

    .es-info {
      &__title {
        font-size: 40px;

        &--large {
          font-size: 47px;
          margin-right: 10px;
        }
      }

      &__text {
        width: 455px;
      }
    }

    .es-possibilities {

      &__img {
        margin-top: -150px;
      }

      &__right {
        margin-left: -137px;
        margin-top: 110px;
      }

      &__text {
        width: 100%;
      }

      &__title {
        font-size: 58px;

        &--first {
          margin-top: -10px;
        }

        &--small {
          max-width: 700px;
          font-size: 36px;
        }
      }


      &__subtitle {
        margin-top: 20px;
        width: 500px;
        font-size: 36px;
        text-align: center;
        margin-right: -65px;
        margin-left: auto;
        margin-bottom: 20px;
      }

      &__title-container {
        top: 18px;
      }
    }

    .es-recipes {

      &__day-night-label {
        font-size: 132px;
      }

      &__day-night-recipe-content {
        &--dark {
          clip-path: polygon(0 0%, 100% 14%, 100% 100%, 0 89%);
          padding-bottom: 150px;
        }
      }

      &__day-night-recipe-content-title {
        font-size: 43px;

        &--small {
          font-size: 18px;
        }
      }
    }

    .es-lemonade {

      &--bottle {
        max-width: 26%;
      }

      &__content {

        &--2 {
          margin-top: -200px;
        }

        &--3 {
          margin-top: -100px;
        }
      }

      &__text {
        &--second {
          font-size: 18px;
          max-width: 52%;
          margin-right: 14%;
          padding-top: 32px;
        }
      }

      &__image {
        &--grapefruit {
          margin-top: -3%;
          margin-right: 6%;
        }
      }
    }

    .es-triple {
      &__desc-mobile {

        &--first,
        &--second,
        &--third {
          font-size: 150px;
        }
      }
    }

    .es-lemonade {
      &__text {
        &--third {
          margin-top: -100px;
          max-width: 96%;
        }
      }
    }

  }

  @media screen and (min-width: 1400px) {
    .es-lemonade {

      &__subtitle {
        font-size: 55px;
      }

      &__group-list-item {
        gap: 46px;
      }

      &__image-group-text {
        left: 15%;
        font-size: 36px;
        top: 41%;
      }
    }

    .es-video {
      margin-top: -85px;
    }
  }

  @keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideright {
    from {
      opacity: 0.3;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideleft {
    from {
      opacity: 0.3;
      transform: translateX(100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/*# sourceMappingURL=style.css.map */